---

---

<div class="flex  p-3 justify-between items-center shadow-gray-200 shadow-sm max-w-[100vw]">
  <span class="ml-1">
    <a class="no-underline text-black font-bold" href="https://bhavanichandra.com"
       aria-label="Mywebsite">bhavanichandra.com</a>
  </span>
  <span class="mr-1 p-1.5 bg-black rounded-lg shadow-sm">
    <a class="no-underline text-white" href="https://blog.themuler.com"
       aria-label="Read my blogs here">Blogs</a>
  </span>

</div>
